:root {
  /* custom properties */

  /* colours */

  --primary-accent-1: hsl(25, 97%, 53%);

  --neutral-white: hsl(0, 0%, 100%);
  --neutral-light: hsl(217, 12%, 63%);
  --neutral-medium: hsl(216, 12%, 54%);
  --neutral-dark: hsl(213, 19%, 18%);
  --neutral-darker: hsl(213, 19%, 13%);
  --neutral-verydark: hsl(216, 12%, 8%);

  --gradient: radial-gradient(
    circle at 50% 0%,
    var(--neutral-dark),
    var(--neutral-darker) 50%
  );
}

html {
  font-size: 15px;
}

body {
  font-family: 'Overpass', sans-serif;
  color: var(--neutral-white);
  background: var(--neutral-verydark);
}
